{
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "semi": true,
    "useTabs": false,
    "bracketSameLine": false,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "plugins": ["prettier-plugin-tailwindcss"]
  }